extends layout

block content
  .container
    a.btn.btn-primary(href=`/home/${user._id}/bucketlist`) Back to BucketList List
    h1= title

    // List all bucket list items
    if items && items.length > 0
      ul
        each item in items
          li
            h2= item.nameItem
            p= item.description
            p Location: #{item.location}
            p Date: #{item.timeWhenOccursFormatted}
            // Add a button to view the location on the map
            button.btn.btn-primary(type="button" onclick=`showLocation(${item.latitude}, ${item.longitude})`) View on Map
            button.btn.btn-primary(type="button" onclick=`openDateModal('${item._id}', '${item.nameItem}')`) Add to agenda

    a.btn.btn-primary(href=`/home/${user._id}/bucketlist/${bucketlist._id}/find_items`) Find More Items

    // Map container
    #map(style="height: 400px; width: 100%; margin-top: 20px;")

    // Modal for date and time selection
    //- Modal for date and time selection
    div#dateModal.modal.fade(tabindex="-1" role="dialog")
      div.modal-dialog(role="document")
        div.modal-content
          div.modal-header
            h5.modal-title Select Date and Time
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div.modal-body
            form#dateForm
              input(type="hidden" name="itemId" id="modalItemId")
              input(type="hidden" name="itemName" id="modalItemName")
              div.form-group
                label(for="date") Date:
                input.form-control(type="date" name="date" id="modalDate" required)
              div.form-group
                label(for="time") Time:
                input.form-control(type="time" name="time" id="modalTime" required)
          div.modal-footer
            button.btn.btn-primary(type="button" onclick="submitDateForm()") Add to Agenda
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close

    script.
      let map;
      function initMap() {
        map = L.map('map').setView([51.03, 4.1], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
      }

      function showLocation(lat, lng) {
        const latlng = [lat, lng];
        map.setView(latlng, 13);
        L.marker(latlng).addTo(map).bindPopup(`Latitude: ${lat}, Longitude: ${lng}`).openPopup();
      }

      function openDateModal(itemId, itemName) {
        document.getElementById('modalItemId').value = itemId;
        document.getElementById('modalItemName').value = itemName;
        $('#dateModal').modal('show');
      }

      function submitDateForm() {
        const itemId = document.getElementById('modalItemId').value;
        const itemName = document.getElementById('modalItemName').value;
        const date = document.getElementById('modalDate').value;
        const time = document.getElementById('modalTime').value;

        // Combine date and time into a single DateTime string
        const dateTime = `${date}T${time}`;

        // Make an AJAX request to add the item to the agenda
        $.ajax({
          url: '/agenda/add',
          method: 'POST',
          data: {
            itemId: itemId,
            itemName: itemName,
            date: dateTime
          },
          success: function(response) {
            alert('Agenda item added successfully');
            $('#dateModal').modal('hide');
          },
          error: function(error) {
            console.error(error);
            alert('Failed to add agenda item');
          }
        });
        console.log({
          itemId: itemId,
          itemName: itemName,
          date: dateTime
        });
      }

      document.addEventListener('DOMContentLoaded', initMap);

    // Display validation errors if any
    if errors && errors.length > 0
      ul.errors
        each error in errors
          li= error.msg