extends layout

block content
  .container
    h1= title

    if bucketlists && bucketlists.length > 0
      ul.bucketlist-list
        each bucketlist in bucketlists
          li
            h2= bucketlist.name
            p= bucketlist.description
            a.btn.btn-primary(href=`/home/${user._id}/bucketlist/` + bucketlist._id) View

    form(action=`/home/${user._id}/bucketlist` method="post" class="create-bucketlist-form")
      div
        label(for="name") Name
        input(type="text" name="name" required)

      div
        label(for="description") Description
        textarea(name="description" rows="4")

      button.btn.btn-primary(type="submit") Create Bucket List

    if errors && errors.length > 0
      ul.errors
        each error in errors
          li= error.msg
